body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  margin: 0;
}

.container {
  max-width: 420px;
  margin: auto;
  padding: 16px;
}

h1 {
  text-align: center;
  margin-bottom: 4px;
}

.subtitle {
  text-align: center;
  color: #555;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-top: 12px;
  display: block;
}

select {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.price {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin: 20px 0;
}

.btn-wa {
  display: block;
  background: #25D366;
  color: #fff;
  text-align: center;
  padding: 14px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

footer {
  text-align: center;
  font-size: 12px;
  color: #777;
  margin-top: 20px;
}

/* GRID GAME */
.game-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  gap: 12px;
  margin-bottom: 16px;
}

/* CARD GAME */
.game-card {
  background: #1f1f1f;
  border-radius: 14px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: 0.2s ease;
  border: 2px solid transparent;
}

/* LOGO GAME */
.game-card img {
  width: 100%;
  height: 70px;              /* 🔥 kunci biar seragam */
  object-fit: contain;       /* logo tidak kepotong */
  margin-bottom: 6px;
}

/* NAMA GAME */
.game-card span {
  font-size: 12px;
  color: #fff;
}

/* HOVER */
.game-card:hover {
  transform: translateY(-3px);
  background: #2a2a2a;
}

/* ACTIVE */
.game-card.active {
  border-color: #25D366;
  background: #2d2d2d;
}

.item-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 16px;
}

.item-card {
  background: #1f1f1f;
  padding: 12px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
}

.item-card:hover {
  background: #2a2a2a;
}

.item-name {
  font-size: 14px;
  color: #ffffff; 
}

.item-price {
  font-weight: bold;
  color: #25D366;
}
